<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Parcel and EJS project template</title>
</head>
<body>
    <main>
        <div class="content">
            <%- include('partials/parcel') %>
            <span class="text fadeIn">and</span>
            <div class="ejs fadeInUp">
                <a href="https://ejs.co/" target="_blank">
                    <&#37;= EJS &#37;>
                </a>
            </div>
            <span class="text fadeIn">template</span>
        </div>
    </main>
</body>
</html>