.parcel {
    &__logo {
        opacity: 0;
        display: flex;
        align-items: center;
        animation-delay: 0.5s;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
        color: rgba(248, 113, 113, 1);
        animation-timing-function: ease-in-out;
    }

    &__title {
        height: 4rem;
    }
}
